body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-image:url(./img1.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
.panel{
    width: 50%;
    height: 50%;
    background-color:transparent;
    border: none;
    display: flex;
    position: absolute;
    margin: 10% 24%;
    border-radius: 5px;
    outline: none;
    animation-name: animm;
    animation-duration: 6s;
    animation-delay: 1s;
}
@keyframes animm{
    From{margin: 10% -50%;}
    To{margin: 10% 24%; backdrop-filter: blur(40px); border: 1px solid #fff;}
}
.panel:hover{
    backdrop-filter: blur(40px);
    border: 1px solid #fff;
}
#btn{
    width: 30%;
    height: 10%;
    background-color:orangered;
    border: none;
    outline: none;
    margin: 22% 32%;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-style: italic;
    animation-name: anim;
    animation-duration: 3s;
    animation-delay: 7s;
    cursor: pointer;
}
@keyframes anim{
    From{margin: 0% 32%; background-color: transparent;}
    to{margin: 22% 32%; background-color: orangered;}
}
#btn:hover{
    background-color: #0ef;
    font-size: 18px;
    border: 1px solid #fff;
}
#btn:active{
    background-color: red;
}
